body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagens-pagina/cabeçalho.png'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Tela-Login,
.Tela-Cadastro {
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px;
}

.Tela-Login h1,
.Tela-Cadastro h1 {
    margin-top: 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin-bottom: 5px;
}

input,
button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.Titulo {
    text-align: center;
    margin-top: 20px;
    color:aliceblue
}